div .logo {
  height: 50px;
}
.paper h1 {
  font-size: 30px;
  margin: auto 20px auto 40px;
  color: white;
  letter-spacing: .02em;
  font-size: 48px;
  font-weight: 300;
  position: static;
  top: 5px;
}
.top-header {
  /*width: 100%;*/
  margin: 50px 20px;
}
.paper img, .paper h1, .paper h3 {
  display: inline;
  letter-spacing: .008em;
}
.paper h3 {
  color: #252525;
  position: static;
  top: 5px;
}

.lined-box {
  border: 1px #9A9696 solid;
  border-top: none;
  height: 55px;
  background-color: #F9F0C6;
}
.lined-box:first-of-type {
  border: 1px #9A9696 solid;
  height: 55px;
  background-color: #F9F0C6;
}
/*hard coding this temporarily just to show how check items will look*/
.lined-box:last-of-type .todo-item {
  text-decoration: line-through;
}
.red-line {
  height: 100%;
  width: 10%;
  border-right-style: double;
  border-width: 4px;
  border-color: red;
  display: inline-block;
}
.paper {
  /*width: 55%;
  margin: 185px auto;*/

}
.paper .lined-box .red-line input#option-one {
  margin: 22px;
}
.add-item input {
  width: 20em;
  height: 2.5em;
}
.add-box {
  width: 50%;
  margin: auto;
}
.add-item {
  width: 100%;
  margin: 30px auto;
  display: inline-block;
}
.todo-item {
  display: inline-block;
  /*margin: 13px 0 13px 25px;*/
  margin-left: 25px;
  vertical-align: middle;
  font-size: 24px;
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    display: inline-block;
    margin: auto auto auto 10px;
    width: 5em;
}
.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  float: right;
  margin: 10px 20px 10px 10px;
 }
 .button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

body, html {
  margin: 0;

}
body {
  display: block;
  background-image: url('../img/kitchen-blur-bright.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*add media queries for mobile screen size.
 make font size, checkbox, button sizes smaller*/
